<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage da Newsletter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/lista">Lista</a>
    </nav>
  </header>
  <section class="hero">
    <h1>Bem vindo ao </h1>
    <h2>NewsLetter</h2>
    <form class="cta-form" action="/registrar" method="post">
      <input type="email" name="mail" placeholder="Seu e-mail">
      <button type="submit">Inscreva-se</button>
    </form>
  </section>
</body>
</html>
