<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>
<body>
  <nav>
    <div>
      <a href="/">HomePage</a>
      <a href="/registrar">Register</a>
      <a href="/lista">Register List</a>
    </div>
  </nav>
  <main>
    <h1>Formulário de registro</h1>
    <form action="/registro" method="post">
      <label for="username">Nome de Usuário:</label>
      <input type="text" name="username" id="username">

      <label for="mail">E-mail</label>
      <input type="email" name="mail" id="mail">

      <button type="submit">Salvar</button>
    </form>
  </main>
</body>
</html>