<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrição Completa</title>
    <link rel="stylesheet" href="/success.css">
</head>
<body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/lista">Lista</a>
      </nav>
    </header>
    <div class="success-message">
        <h1>Inscrição Completa!</h1>
        <p>Obrigado por se inscrever na nossa newsletter.</p>
    </div>
</body>
</html>
