<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/output.css" rel="stylesheet">
  <title>B-Productive</title>
</head>
<body>
  <div class="container-lg text-white bg-cyan-950 w-screen h-screen flex items-center justify-center">
    <div class="flex flex-col gap-2.5 text-center max-w-2xl items-center justify-center">
      <div class="flex flex-shrink-0 items-center">
        <img class="h-14 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company">
      </div>
      <h1 class="text-white text-3xl" >Bem-vindo ao B-Productive</h1>
      <p class="text-gray-300">Organize suas tarefas de forma eficiente e aumente sua produtividade</p>
      <p class="max-w-2xl text-gray-300">O B-Productive oferece uma maneira simples e intuitiva de gerenciar suas atividades diárias, seja no trabalho, nos estudos ou na vida pessoal. Crie listas personalizadas, adicione tarefas com facilidade, acompanhe o progresso e nunca mais esqueça uma tarefa importante!</p>
      <a href="/taskList" class="bg-teal-600 w-64 rounded-md p-2 font-medium">Começe a gerenciar suas tarefas</a>
    </div>
  </div>
</body>
</html>